// better box model
html {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

// fluid images
img {
    max-width: 100%;
}

//full width and height body
body {
    margin: 0;
}
