.photo {
    max-width: 700px;
    margin: 0 auto;
}

.photo__copyright {}

.photo__image {
    margin: 0;
}

.photo__explanation {
    margin-top: 1em;
}

.photo__title {
    font-family: 'Bitter', serif;
}

.photo__date {}
